[Unit]
Description=Water system service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/pi/server
EnvironmentFile=/etc/systemd/system/water_system.conf

[Install]
WantedBy=multi-user.target